{% extends 'base.html' %}

{% block content %}

<h1>messier_objects_overview.html</h1>
<br>
<form method="POST" class="form-group">
    {% csrf_token %}
    <button name="captured_only_button" type="submit">Show Captured</button><br>
    <button name="not_captured_only_button" type="submit">Show Not Captured</button><br>
    <button name="reset_filters_button" type="submit">Reset Filters</button><br>
</form>
<hr>
{% if list_of_mes_obj %}
    {% for mes_obj in list_of_mes_obj %}
        <h2><a href="{% url 'mes_obj_detail' mes_obj.messier_number %}">M{{ mes_obj.messier_number }}
            {% if mes_obj.name == '–' %}
                </a></h2>
            {% else %}
                - {{ mes_obj.name }}</a></h2>
            {% endif %}
        <h5>NCG / IC Number: {{ mes_obj.ncg_or_ic_number }}</h5>
        <h5>Object Type: {{ mes_obj.object_type }}</h5>
        <p>Distance in KLY: {{ mes_obj.distance_kly }}</p>
        <p>Constellation: {{ mes_obj.constellation }}</p>
        <p>Apparent Magnitude: {{ mes_obj.apparent_magnitude }}</p>
        <br>
        {% if mes_obj.captured %}
            <a href="{% url 'mes_obj_detail' mes_obj.messier_number %}"><img src="{{ mes_obj.photo.url }}" width="1240"></a>
        {% else %}
            <p>Not Captured / No Image Uploaded.</p>
        {% endif %}
        <br>
        <hr>
    {% endfor %}
{% else %}
<h3>Nothing here yet. <br>
Either add data through the api or admin area, or change your filtering.</h3>
{% endif %}
{% endblock %}