{% extends 'base.html' %}

{% block content %}

<h1>messier_object_detail.html</h1>
<br>
<hr>
<h2>M{{ mes_obj.messier_number }} - 
    {% if mes_obj.name == '–' %}
        No Name</h2>
    {% else %}
        {{ mes_obj.name }}</h3>
    {% endif %}
<h5>NCG / IC Number: {{ mes_obj.ncg_or_ic_number }}</h5>
<h5>Object Type: {{ mes_obj.object_type }}</h5>
<p>Distance in KLY: {{ mes_obj.distance_kly }}</p>
<p>Constellation: {{ mes_obj.constellation }}</p>
<p>Apparent Magnitude: {{ mes_obj.apparent_magnitude }}</p>
<br>
{% if mes_obj.photo %}
    <img src="{{ mes_obj.photo.url }}">
{% else %}
    <img src='/media/notcaptured.JPG'>
{% endif %}
<br>
<hr>



{% endblock %}